@import './variables.scss';

.info-text {
    height: 100%;
    position: relative;
    button {
position: absolute;
right:20px;
top:150px;
    }
}
.label-info {
    padding: 20px;
    font-size: 22px;
    font-weight: bolder;
    color: $text-color;
    position: relative;
    
}

.text-info {
    padding: 50px;
    display: grid;
    grid-template-columns: 60px 250px ;
  grid-template-rows: 25% 100px;
  text-align: center;
  position: relative;
}

.label-name {
  font-weight: bolder;
  text-align: right;

}