// colors
$color-blue: #355b68;
$color-transparent-blue: rgb(53, 91, 104);
$color-header: rgb(148, 148, 148);
$color-mainPage-logo-shadow: rgba(53, 91, 104, 0.999);
$color-white: rgb(255, 255, 255);
$color-red: rgb(244, 67, 54);
$color-green: rgb(43, 237, 98);
$color-bacground-spinner: rgba(84, 83, 83, 0.5);
$color-spinner: rgb(51, 51, 51);
$text-color: rgba(0, 0, 0, 0.87);
//
$radius: 10px;
//
$default-font-family: 'Roboto', Helvetica, Arial, sans-serif;
