// colors
$color-blue: #355b68;
$color-transparent-blue: rgb(53, 91, 104);
$color-header: rgb(148, 148, 148);
$color-mainPage-logo-shadow: rgba(53, 91, 104, 0.999);
$color-white: rgb(255, 255, 255);
$color-red: rgb(244, 67, 54);
$color-green: rgb(43, 237, 98);
$color-light-grey: rgba(219, 219, 219, 0.5);
$color-black: rgb(29, 29, 29);
$text-color: rgba(0, 0, 0, 0.87);
$color-dark-blue: #355c68;
$color-border-grey: #dbdbdb;
$color-dark-blue-hover: #355c68;
//
$radius: 5px;
//
$default-font-family: 'Roboto', Helvetica, Arial, sans-serif;
//
$default-font-size: 14px;
